/* @tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss; */
@import "tailwindcss";

/* Hide scrollbar while keeping scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
